*{ 
    margin: 2px;
    padding: 1px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    background-color: rgb(0, 0, 0);
}
    
div{
    margin-top: 2%;
    background-color: rgb(242, 159, 251);
    background-repeat: no-repeat;
    border-radius: 6px;
}
::placeholder{
    color: rgb(78, 5, 5);
    font-size: large;
    font-style: italic;
    opacity: 0.5;
}
header{
    font-weight:900;
    padding: 10px;
    border-radius: 6px;
    color: rgb(233, 255, 91);
    background-image: url(bg.jpg);
    font-size: 105%;

}
#name1,#name2{
    background-color: rgb(240, 255, 173);
    border-radius: 25px;
    border: 2px solid rgb(144, 0, 62);
    border-width: 3px;
    height: 50px;
    width: 40%;
    box-sizing: border-box;
    transition: 0.05s;
    font-size: 25px;
    color: rgb(58, 0, 0);
}
#name1:focus{
    border: 2px solid #555;
    background-color: rgb(200, 253, 108);
}
#name2:focus{
    border: 2px solid #555;
    background-color: rgb(108, 248, 253);
}

#p2{
    text-align:left;
}
#p3{
    text-align: left;
    margin-left: 50%;
}
footer{
    color: rgb(233, 255, 91);
    margin-top: 2%;
    background-color: rgb(202, 34, 183);
    border-radius: 6px;
}